body {
  background: #111;
  color: white;
  font-family: sans-serif;
  padding: 10px;
}

.title {
  text-align: center;
  color: #00ffcc;
}

.game {
  background: #222;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
}

.game img {
  width: 100%;
  border-radius: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background: #ff0055;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
